NEXT_PUBLIC_API_BASE_URL=https://odefi.onegodian.com/api
NEXT_PUBLIC_SITE_URL=https://odefi.onegodian.com
NEXT_PUBLIC_ODC_NODE_URL=https://odefi.onegodian.com
NEXT_PUBLIC_ODC_CONTRACT_ADDRESS=0x9eee1e3615efe0374a7588d2760db5ffb2d5ce98
NEXT_PUBLIC_ODC_CHAIN_ID=1
